[submodule "fei"]
	path = fei
	url = https://github.com/Jazmin-S/fei.git
[submodule "Poma"]
	path = Poma
	url = https://github.com/Jazmin-S/Poma.git
[submodule "Ecomerce"]
	path = Ecomerce
	url = https://github.com/Jazmin-S/Ecomerce.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/Jazmin-S/ordinario-ftw.git
