* {
    box-sizing: ;
}
.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    
}
body {
    font-family: 'Times New Roman', Times, serif;
}
form {
    max-width: 300px;
    box-shadow: 25px 22px 15px;
    border-radius: 1px;
    border: 1px solid black;
    padding: 20px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 20px;
}
input[type="text"], input[type="direccion"] {
    border-radius: 1px;
    margin-bottom: 15px;
    width: 97%;
    height: 26px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.452);
    padding: 6px;
    cursor: pointer;
}
input[type="button"], input [type = "submit"]{
    background-color: rgba(90, 33, 246, 0.863);
    border: none;
    margin-bottom: 2px;
    width: 100%;
    height: 30px;
}
fieldset{
    display: block;
    margin-bottom: 10%;

}
